<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">WELCOME TO YOUR DAILY JOURNAL</p>
      </div>
    </div>
  </nav>

  <body>
   <div class="login-box">
     <h3 class='heading'>SAVE YOUR DAILY BLOG</h3>
     <h4 class='login'>To Continue! Please Login</h4>
   <button class="login-button" href=""> 
     <a class="btn btn-block btn-lg btn-social btn-google" href="/auth/google">
      <i class="fab fa-google"></i>
    </a>
    </button>
   </div> 
  
<%- include("partials/footer"); -%>